[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ifCNVR"]
	path = ifCNVR
	url = https://github.com/simcab-chu/ifcnv-r
	subdir = ifCNVR
